MK DAA Latihan Pertemuan ke-2

In [ ]:
import numpy as np

#Terdapat list a dan b
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

#lalu jumlahkan
hasil = a + b

NpHasil = np.sum(a+b)

print(NpHasil)

21

In [ ]:
print("Numpy Version " + np.__version__)

nilai_siswa = np.array([85, 55, 40, 90])

print(nilai_siswa[3])

Numpy Version 1.26.4
90

In [ ]:
def getSum(myList):
  sum = 0
  for i in myList:
    sum = sum + i
  return sum

add_a_b = np.add(a, b)
getSum(add_a_b)

21

In [ ]:
def getSum2(myList):
  sum = 0
  for row in myList:
    for i in row:
      sum += i
  return sum

getSum2([[1, 2, 3], [4, 5, 6]])

21

In [ ]:
def getBagi(myList):
  bagi = 0
  for i in myList:
    bagi = bagi * i

getBagi([60, 3, 3])

In [ ]:
nama = input("Masukkan Nama: ")
nim = int(input("Masukkan NIM: "))
print("Hello World!")
print(f"Nama saya{nama}")

print(f"NIM saya {nim}")

Masukkan Nama: Muhammad Rafi Irfan
Masukkan NIM: 2023071053
Hello World!
Nama sayaMuhammad Rafi Irfan
NIM saya 2023071053

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 5
y = "John"
print(x)
print(y)

x = 4
x = "Sally"
print(x)

5
John
Sally

In [ ]:
def getFirst(list):
  return list[0]

getFirst(a)

1

In [ ]:
def getSecond(list):
  return list[1]

getFirst(a)

3

In [ ]:
def getLast(list):
  return list[-1]

getFirst(a)

3

In [ ]:
def getLast2(list):
  size = len(list)
  return list[size]

getFirst(a)

3